[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/log.c"]
	path = deps/log.c
	url = https://github.com/rxi/log.c
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm
