[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/cglm"]
	path = deps/cglm
	url = https://github.com/recp/cglm
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp
[submodule "deps/json-c"]
	path = deps/json-c
	url = https://github.com/json-c/json-c
[submodule "deps/c-logger"]
	path = deps/c-logger
	url = https://github.com/masamonoke/c-logger
